@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}
:root{
    --text: #050000;
    --background: #fff5f5;
    /* --background: #e8e8e8; */
    --primary: #018789;
    --secondary: #b4b3ff;
    --accent: #01e1e4;
}
body{
    background-color: var(--background);
}
/* header{
    border: 1px solid red;
    margin-bottom: 2%;
} */
main{
    /* border: 1px solid green; */
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
section{
    /* border: 1px solid cyan; */
    margin: 2%;
    /* height: 500px; */
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
.register{
    margin: 2%;
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}
img{
    /* border: 1px solid red; */
    height: 350px;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    /* box-shadow: 10px 10px 5px #aaaaaa; */
    box-shadow: 10px 10px 8px 10px #888888;
    /* box-shadow: 10px 10px 8px #888888; */
    /* box-shadow: 5px 10px #888888; */
  }
  
  .title {
    font-size: 28px;
    color: var(--primary);
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: var(--primary);
  }
  
  .title::before {
    width: 18px;
    height: 18px;
    background-color: var(--primary);
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .message, .signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a {
    color: var(--primary);
  }
  
  .signin a:hover {
    text-decoration: underline var(--primary);
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .form label {
    position: relative;
  }
  
  .form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }
  
  .form label .input:focus + span,.form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .form label .input:valid + span {
    color: green;
  }
  
  .submit {
    border: none;
    outline: none;
    background-color: var(--primary);
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transition: 0.5s;
    transform: .3s ease;
  }
  
  .submit:hover {
    color: #050000;
    background-color: var(--accent);
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }

  /* MEDIA QUERIES */
  @media only screen and (max-width: 600px){
   
  }

  @media only screen and (min-width: 600px) and (max-width: 1023px){
    
  }

  @media only screen and (max-width: 768px){
    img{
      display: none;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 1023px){
    .form{
      max-width: 350px;
    }
    section{
      padding: 3%;
      /* border: 1px solid green; */
      justify-content: space-between;
      width: 100%;
      margin: 0%;
    }
    .register{
      padding: 3%;
      justify-content: space-between;
      width: 100%;
      margin: 0%;
    }
    img{
      /* display: none; */
      /* border: solid 1px red; */
      height: 240px;
    }
  }